<h1>Los mejores cursos</h1>

<div class="grid p-1">


  <div class="col-12 md:col-4 lg:col-3">
    <mat-card class="card">
      <img [src]="urlImg[0]" alt="Imagen de la tarjeta">
      <mat-card-content>
        <div class="container-card">

          <div class="subtitle">Subtítulo de la tarjeta</div>

          <button mat-icon-button class="button">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 md:col-4 lg:col-3">
    <mat-card class="card">
      <img [src]="urlImg[2]" alt="Imagen de la tarjeta">
      <mat-card-content>
        <div class="container-card">

          <div class="subtitle">Configuración y buenas prácticas de</div>

          <button mat-icon-button class="button">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 md:col-4 lg:col-3">
    <mat-card class="card">
      <img [src]="urlImg[0]" alt="Imagen de la tarjeta">
      <mat-card-content>
        <div class="container-card">

          <div class="subtitle">Subtítulo de la tarjeta</div>

          <button mat-icon-button class="button">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 md:col-4 lg:col-3">
    <mat-card class="card">
      <img [src]="urlImg[1]" alt="Imagen de la tarjeta">
      <mat-card-content>
        <div class="container-card">

          <div class="subtitle">Subtítulo de la tarjeta</div>

          <button mat-icon-button class="button">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>


</div>
