<h1>Los mejores cursos</h1>

<div class="grid p-1">


  <div class="col-12 md:col-4 lg:col-3" *ngFor="let course of courses">
    <mat-card class="card">
      <img [src]="course.frontPage" alt="Imagen de la tarjeta">
      <mat-card-content>
        <div class="container-card">

          <div class="subtitle">{{course.title}}</div>

          <button mat-icon-button class="button">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>



</div>
