<mat-card>
  <mat-card-content class="preserve-line-breaks">
    <iframe src="https://iframe.mediadelivery.net/embed/138804/7d5776e1-8fff-4e8a-8831-48a237fa823e?autoplay=true"
      loading="lazy" style="border: none; width: 100%; height: 400px;" allowfullscreen="true"
      allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;">
    </iframe>
    <mat-card-title>1- Las transacciones, mercado, crédito y deuda</mat-card-title>
    <p>
      👀 ¿Terminaste el colegio y aún no sabes qué carrera o profesión deberías estudiar?
      💥 Desde que la tecnología llegó a nuestras vidas han nacido un montón de profesiones y carreras relacionadas con
      la industria. Puede ser confuso entender cuál de todas estudiar, es por eso que en este video Angela Ocando y
      Cesar
      Cordero te contarán un poquito de cómo han nacido estas profesiones y cómo deberías elegir tu profesión del
      futuro.
      🌟 Este es el séptimo video de nuestra serie: "Ya terminé el colegio, ¿y ahora qué?", donde te estaremos dando una
      guía para entender cómo manejar tu dinero. (Míralo como un manual de supervivencia para la adultez 👾).
      🤝 Esta es una serie creada en colaboración con @YouTube y @UNESCO en español
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Material adjunto:</mat-card-title>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon>attach_file</mat-icon>
        <a href="http://google.com" target="_blank">Archivo 1</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>attach_file</mat-icon>
        <a href="http://google.com" target="_blank">Archivo 2</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>attach_file</mat-icon>
        <a href="http://google.com" target="_blank">Archivo 3</a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
