.mat-card-header-text-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}


.editVideo{
  cursor: pointer;
  display: flex;
  align-items: center;
}

.file-item{
  display: flex;
  align-items: center;
}

.btn-add-file{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-description{
  padding: 15px;
}