<div *ngIf="videoId != ''">

  <mat-card>
    <mat-card-content class="preserve-line-breaks">
      <div style="position:relative;padding-top:56.25%;"><iframe
          src="https://iframe.mediadelivery.net/embed/143477/d6be247f-e1fa-46fa-8806-e4a723da0732?autoplay=true&loop=false&muted=false&preload=true"
          loading="lazy" style="border:none;position:absolute;top:0;height:100%;width:100%;"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;" allowfullscreen="true"></iframe>
      </div>
      <mat-card-title (click)="editVideo(video.idVideo)" class="editVideo">{{video.title | titlecase}} -
        <mat-icon>edit</mat-icon> Editar video</mat-card-title>
      <p>
        {{video.description}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card style="margin-top: .5em;">
    <mat-card-header>
      <mat-card-title>Material adjunto:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item (click)="addFile()">
          <div class="btn-add-file">
            <mat-icon>add</mat-icon>
            <mat-card-subtitle>
              Agregar material adjunto
            </mat-card-subtitle>
          </div>
        </mat-list-item>
        <mat-list-item role="listitem">
          <div class="file-item">
            <mat-icon>attach_file</mat-icon>
            <a href="http://google.com" target="_blank">Archivo 1</a>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
