

  <mat-card >

    <mat-card-header>
      <span class="text-lg mb-4">Bienvenido</span>
    </mat-card-header>

    <mat-card-content>
      <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="login()"
        class="full-width-form">


        <mat-form-field  class="example-full-width">
          <mat-label>Usuario</mat-label>
          <input type="text" matInput placeholder="Correo eléctronico" formControlName="email">
        </mat-form-field>

        <div class="spacer"></div>

        <mat-form-field  class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput placeholder="Contraseña" formControlName="password">
        </mat-form-field>

        <div class="spacer"></div>

        <button mat-button mat-flat-button color="primary">Ingresar</button>

      </form>
    </mat-card-content>

  </mat-card>

