.last-courses {
    width: 80%;
    margin-top: 2em;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: var(--white-font-menu);
    margin: 0 auto;
}

.last-courses__title {
    margin-bottom: .5em;
    letter-spacing: 1.4px;
}

.last-courses__subtitle {
    font-weight: 400;
    letter-spacing: 1px;
}

.last-courses__text {
    letter-spacing: 1px;
    margin-bottom: 2em;
}

.last-courses__nav {}

.last-courses__course__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.last-courses__course__item {
    align-items: center;
    background-color: var(--dark-gray-background);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    list-style: none;
    margin-bottom: 1em;
    padding: 5px;
    padding-left: 10px;
    text-align: left;
    width: 250px;
    transition: background-color .5s ease-in-out;
    cursor: pointer;
}

.last-courses__course__item:hover {
    background-color: #e9e4e4;
    color: black;
}

.last-courses__course__item:hover  .last-courses__course__box__link{
    color: black;
}

.last-courses__course__item__title {
    margin-bottom: .5em;
}

.last-courses__course__item__description {}

.last-courses__course__box__link {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    justify-content: left;
    margin-top: 25px;
    text-decoration: none;
    align-self: start;
}


.text {
    text-decoration: underline;
}

.last-courses__course__box__link:hover .material-symbols-outlined {
    transform: translateX(35px);
    transition: transform 0.3s ease-in-out;
}

.background-course-1 {
    background-color: var(--dark-gray-background);
}

.background-course-2 {
    background-color: var(--dark-gray-background);
}

.background-course-3 {
    background-color: var(--dark-gray-background);
}

.background-course-4 {
    background-color: var(--dark-gray-background);
}

.background-course-5 {
    background-color: var(--dark-gray-background);
}

.background-course-6 {
    background-color: var(--dark-gray-background);
}

.background-course-7 {
    background-color: var(--dark-gray-background);
}

.background-course-8 {
    background-color: var(--dark-gray-background);
}

@media (max-width: 600px) {
    .last-courses__course__container {
        align-items: center;
        flex-direction: column;
    }

    .last-courses__course__item {
        margin-bottom: .5em;
        width: 100%;
    }
}