<section class="last-courses">

    <h2 class="last-courses__title">
        Conocimiento para tomar el control de tu futuro profesional
    </h2>

    <p class="last-courses__text">
        Nuestros estudiantes crecen, crean conexiones profesionales y usan la educación
        digital a su favor.
    </p>

    <nav class="last-courses__nav">

        <ul class="last-courses__course__container">
            <li class="last-courses__course__item background-course-1">
                <h3 class="last-courses__course__item__title">
                    Curso de Economía y Finanzas: Indicadores Económicos
                </h3>
                <p class="last-courses__course__item__description">
                    Comprende los principales indicadores económicos y aprende a interpretarlos para usarlos a tu favor
                    en tus decisiones financieras.
                </p>
                <a href="#" class="last-courses__course__box__link">
                    <div class="text">
                        Ir al curso
                    </div>
                    <span class="material-symbols-outlined">
                        arrow_right_alt
                    </span>
                </a>
            </li>

            <li class="last-courses__course__item background-course-2">
                <h3 class="last-courses__course__item__title">
                    Curso de Finanzas Personales: Cómo Gestionar Créditos y Deudas
                </h3>
                <p class="last-courses__course__item__description">
                    Obtené bienestar financiero. Descubre el poder del crédito en la consecución de metas y enfrenta las
                    deudas que te impiden avanzar.
                </p>
                <a href="#" class="last-courses__course__box__link">
                    <div class="text">
                        Ir al curso
                    </div>
                    <span class="material-symbols-outlined">
                        arrow_right_alt
                    </span>
                </a>
            </li>

            <li class="last-courses__course__item background-course-3">
                <h3 class="last-courses__course__item__title">
                    Curso de Finanzas Personales para Invertir en la Bolsa Desde Cero
                </h3>
                <p class="last-courses__course__item__description">
                    Domina los fundamentos para empezar a invertir en la bolsa de valores desde cero. Comprende los
                    diferentes tipos de mercados bursátiles.
                </p>
                <a href="#" class="last-courses__course__box__link">
                    <div class="text">
                        Ir al curso
                    </div>
                    <span class="material-symbols-outlined">
                        arrow_right_alt
                    </span>
                </a>
            </li>

            <li class="last-courses__course__item background-course-4">
                <h3 class="last-courses__course__item__title">
                    Curso de Evaluación Financiera de Proyectos
                </h3>
                <p class="last-courses__course__item__description">
                    Planear las finanzas de tu proyecto no es suficiente. Aprende a evaluar el desempeño de tus
                    inversiones a través de ejercicios.
                </p>
                <a href="#" class="last-courses__course__box__link">
                    <div class="text">
                        Ir al curso
                    </div>
                    <span class="material-symbols-outlined">
                        arrow_right_alt
                    </span>
                </a>
            </li>

            <li class="last-courses__course__item background-course-5">
                <h3 class="last-courses__course__item__title">
                    Curso Práctico de Análisis Técnico de Mercados Financieros
                </h3>
                <p class="last-courses__course__item__description">
                    Diseña tu plan de trading y aprende a gestionar efectivamente tus operaciones, tomando en cuenta
                    horarios de liquidez, gestión de riesgo, y análisis.
                </p>
                <a href="#" class="last-courses__course__box__link">
                    <div class="text">
                        Ir al curso
                    </div>
                    <span class="material-symbols-outlined">
                        arrow_right_alt
                    </span>
                </a>
            </li>


            <li class="last-courses__course__item background-course-6">
                <h3 class="last-courses__course__item__title">
                    Curso de Excel Financiero para Realizar Pronósticos de Una Empresa
                </h3>
                <p class="last-courses__course__item__description">
                    Domina Excel para realizar cálculos y pronósticos con los datos financieros de una empresa y así
                    poder realizar análisis que te permitan tomas mejores decisiones.
                </p>
                <a href="#" class="last-courses__course__box__link">
                    <div class="text">
                        Ir al curso
                    </div>
                    <span class="material-symbols-outlined">
                        arrow_right_alt
                    </span>
                </a>
            </li>

            <li class="last-courses__course__item background-course-8">
                <h3 class="last-courses__course__item__title">
                    Curso de introducción al trading profesional
                </h3>
                <p class="last-courses__course__item__description">
                    Aprende desde cero los conceptos básicos de cómo funcionan los mercados bursátiles y el trading de
                    stocks o acciones como una alternativa real de inversión que puedes integrar a tu patrimonio.
                </p>
                <a href="#" class="last-courses__course__box__link">
                    <div class="text">
                        Ir al curso
                    </div>
                    <span class="material-symbols-outlined">
                        arrow_right_alt
                    </span>
                </a>
            </li>

            <li class="last-courses__course__item background-course-1">
                <h3 class="last-courses__course__item__title">
                    Curso de Economía y Finanzas: Indicadores Económicos
                </h3>
                <p class="last-courses__course__item__description">
                    Comprende los principales indicadores económicos y aprende a interpretarlos para usarlos a tu favor
                    en tus decisiones financieras.
                </p>
                <a href="#" class="last-courses__course__box__link">
                    <div class="text">
                        Ir al curso
                    </div>
                    <span class="material-symbols-outlined">
                        arrow_right_alt
                    </span>
                </a>
            </li>

            <li class="last-courses__course__item background-course-6">
                <h3 class="last-courses__course__item__title">
                    Curso de Excel Financiero para Realizar Pronósticos de Una Empresa
                </h3>
                <p class="last-courses__course__item__description">
                    Domina Excel para realizar cálculos y pronósticos con los datos financieros de una empresa y así
                    poder realizar análisis que te permitan tomas mejores decisiones.
                </p>
                <a href="#" class="last-courses__course__box__link">
                    <div class="text">
                        Ir al curso
                    </div>
                    <span class="material-symbols-outlined">
                        arrow_right_alt
                    </span>
                </a>
            </li>
        </ul>

    </nav>
</section>