<section class="last-courses">

    <h2 class="last-courses__title">
        Conocimiento para tomar el control de tu futuro profesional
    </h2>
    
    <p class="last-courses__text">
        Nuestros estudiantes crecen, crean conexiones profesionales y usan la educación
        digital a su favor.
    </p>

    <nav class="last-courses__nav">

        <ul class="last-courses__course__container">

            <li class="last-courses__course__item">
                Último curso 1
            </li>

            <li class="last-courses__course__item">
                Último curso 2
            </li>

            <li class="last-courses__course__item">
                Último curso 3
            </li>

            <li class="last-courses__course__item">
                Último curso 4
            </li>

            <li class="last-courses__course__item">
                Último curso 5
            </li>

            <li class="last-courses__course__item">
                Último curso 6
            </li>

            <li class="last-courses__course__item">
                Último curso 7
            </li>

            <li class="last-courses__course__item">
                Último curso 8
            </li>

        </ul>

    </nav>
</section>