@media (min-width: 960px) {
  .hide-on-desktop {
    display: none;
  }
}

.mat-toolbar {
  background-color: #121F3D;
  color: white;
  border-bottom: 1px solid black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2%;
  padding-top: 8%;
  background-color: #121F3D;
  height: 100%;
}
