<mat-form-field class="full-width">
  
  <div class="search-input">
    <input type="text" matInput placeholder="Buscar instructor..." class="search-text" [(ngModel)]="filterValue"
      (input)="applyFilter()">
    <button mat-icon-button class="search-icon" aria-label="Buscar">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</mat-form-field>

<button mat-raised-button color="primary" (click)="openModal('')">Agregar nuevo</button>

<table mat-table [dataSource]="filteredInstructors" class="mat-elevation-z8">
  <!-- Definición de columnas -->
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>{{ columnLabels[column] }}</th>
    <td mat-cell *matCellDef="let instructor" (click)="openModal(instructor.idInstructor)" class="row-hover">
      <ng-container *ngIf="column === 'imgUrl'">
        <img src="{{ instructor.imgUrl }}" alt="Foto" class="profile-img">
      </ng-container>
      <ng-container *ngIf="column === 'fullName'">
        {{ instructor.user.fullName }}
      </ng-container>
      <ng-container *ngIf="column !== 'imgUrl' && column !== 'fullName'">
        {{ instructor[column] }}
      </ng-container>
    </td>
  </ng-container>

  <!-- Filas de la tabla -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
