.mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}

.panel-description-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.subtitle-container{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 1em;
}

.refresh-button{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 1em;
}
