<h2 mat-dialog-title>Modal de ejemplo</h2>
<div mat-dialog-content>
  <form class="example-form" (ngSubmit)="saveUser()" autocomplete="off"
    [formGroup]="userForm">

    <mat-form-field class="full-width">
      <mat-label>Correo</mat-label>
      <input matInput placeholder="Correo electrónico" formControlName="email">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Nombre completo</mat-label>
      <input matInput placeholder="Nombre completo" formControlName="fullName">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Estado del usuario</mat-label>
      <select matNativeControl required formControlName="isActive">
        <option value="true">Activo</option>
        <option value="false">Bloqueado</option>
      </select>
    </mat-form-field>

    <button mat-button color="primary" type="submit">Guardar</button>
  </form>
  <button mat-button (click)="closeModal()">Cerrar</button>
</div>
