<nav class="prominent-courses">
    <ul class="prominent-courses__course__container">
        <li class="prominent-courses__course__box" style="background-color: #cee5cd;">
            CURSO DESTACADO 1
        </li>

        <li class="prominent-courses__course__box" style="background-color: #c7e3f3;">
            CURSO DESTACADO 2
        </li>

        <li class="prominent-courses__course__box" style="background-color: #fad8d5;">
            CURSO DESTACADO 3
        </li>

        <li class="prominent-courses__course__box" style="background-color: #fae4af;">
            CURSO DESTACADO 4
        </li>

    </ul>
</nav>