<nav class="prominent-courses">
    <ul class="prominent-courses__course__container">
        <li class="prominent-courses__course__box bg-color-1" >
            <div class="prominent-courses__course__box__btn__route">Ruta</div>
            <span class="prominent-courses__course__box__number-courses">24 Cursos</span>
            <h2 class="prominent-courses__course__box__title">
                Finanzas para el futuro
            </h2>
            <p class="prominent-courses__course__box__description">
                PParticipa en la economía descentralizada y aprovecha las oportunidades que ofrece DeFi para analizar,
                comprar y vender tus criptoactivos de manera inteligente y segura
            </p>
            <a href="#" class="prominent-courses__course__box__link">
                <div class="text">
                    Ir a la ruta
                </div>
                <span class="material-symbols-outlined">
                    arrow_right_alt
                </span>
            </a>
        </li>

        <li class="prominent-courses__course__box bg-color-2" >
            <div class="prominent-courses__course__box__btn__route">Ruta</div>
            <span class="prominent-courses__course__box__number-courses">4 Cursos</span>
            <h2 class="prominent-courses__course__box__title">
                Operaciones y legales
            </h2>
            <p class="prominent-courses__course__box__description">
                Domina habilidades para gestionar operaciones diarias en tu empresa de alto impacto, optimizando procesos, tomando decisiones estratégicas y asegurando crecimiento sostenible.
            </p>
            <a href="#" class="prominent-courses__course__box__link">
                <div class="text">
                    Ir a la ruta
                </div>
                <span class="material-symbols-outlined">
                    arrow_right_alt
                </span>
            </a>
        </li>

        <li class="prominent-courses__course__box bg-color-3" >
            <div class="prominent-courses__course__box__btn__route">Ruta</div>
            <span class="prominent-courses__course__box__number-courses">15 Cursos</span>
            <h2 class="prominent-courses__course__box__title">
                Fundamentos de Negocios
            </h2>
            <p class="prominent-courses__course__box__description">
                Aprende sobre distintas áreas clave de gestión, habilidades y herramientas que te ayudarán a prepararte para el proceso de gestión de negocios.
            </p>
            <a href="#" class="prominent-courses__course__box__link">
                <div class="text">
                    Ir a la ruta
                </div>
                <span class="material-symbols-outlined">
                    arrow_right_alt
                </span>
            </a>
        </li>

        <li class="prominent-courses__course__box bg-color-4" >
            <div class="prominent-courses__course__box__btn__route">Ruta</div>
            <span class="prominent-courses__course__box__number-courses">9 Cursos</span>
            <h2 class="prominent-courses__course__box__title">
                Conseguir trabajo en Finanzas e Inversiones
            </h2>
            <p class="prominent-courses__course__box__description">
                Prepárate para encontrar empleo en el apasionante mundo de las finanzas e inversiones, adquiriendo las
                habilidades y conocimientos necesarios para ser dinámico y competitivo.
            </p>
            <a href="#" class="prominent-courses__course__box__link">
                <div class="text">
                    Ir a la ruta
                </div>
                <span class="material-symbols-outlined">
                    arrow_right_alt
                </span>
            </a>
        </li>

    </ul>
</nav>