<div class="subscription-container">

    <h3 class="title-subscription">Elige un plan</h3>

    <p class="text-subscription">Ahorra con un plan anual y accede a todos los cursos y contenidos exclusivos.</p>
   
    <nav class="prominent-subscriptions">

        <ul class="prominent-subscriptions__subscription__container">
            <li class="prominent-subscriptions__subscription__box">
                SUBSCRIPCIÓN 1
            </li>

            <li class="prominent-subscriptions__subscription__box">
                SUBSCRIPCIÓN 2
            </li>

            <li class="prominent-subscriptions__subscription__box">
                SUBSCRIPCIÓN 3
            </li>
        </ul>
    </nav>
</div>