<div class="slide-menu">
  <nav>
    <ul>
      <li style="background-color: #8BC34A;">1</li>
      <li style="background-color: #8BC34A;">2</li>
      <li style="background-color: #8BC34A;">3</li>
      <li style="background-color: #8BC34A;"><mat-icon>emoji_flags</mat-icon></li>
      <li style="background-color: #8BC34A;">4</li>
      <li>5</li>
      <li>6</li>
      <li><mat-icon>emoji_flags</mat-icon></li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li><mat-icon>emoji_flags</mat-icon></li>
    </ul>
  </nav>
</div>

<div class="container-view-course">

  <div class="video-container">
    <div class="video-iframe">
      <video autoplay="" loop="" muted="" style="border: none; width: 100%;">
        <source src="https://vz-29d20bbd-ca8.b-cdn.net/fe37c4d7-966c-41cf-bd93-901f7e9243c5/play_720p.mp4"
          type="video/mp4">
      </video>
    </div>
    <div class="header-video">

      <img
        src="https://static.platzi.com/cdn-cgi/image/width=768,quality=85,format=auto/media/achievements/badge-planeacion-financiera-01bfc531-c444-4af7-8cc7-a5935e91e8d2.png"
        class="logo-course" alt="">

      <div class="header-description">
        <h2>Titulo de este video</h2>
        <h3>Leandro C. Tomassini</h3>
      </div>
    </div>
    <div class="video-description">
      <h1>Titulo de la descripcion</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius numquam culpa nam velit quam cumque vero maxime
        atque molestias delectus voluptates nisi optio dolores ad quod iure, ea obcaecati quisquam?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius numquam culpa nam velit quam cumque vero maxime
        atque molestias delectus voluptates nisi optio dolores ad quod iure, ea obcaecati quisquam?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius numquam culpa nam velit quam cumque vero maxime
        atque molestias delectus voluptates nisi optio dolores ad quod iure, ea obcaecati quisquam?</p>
    </div>
  </div>


  <div class="comments">
    <p>Comentarios</p>
  </div>

</div>
