/* Estilos para scrollbars */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #212121;
  border-radius: 10px;
}

/* Estilos para el slide-menu */
.slide-menu {
  align-items: center;
  background-color: #212e36;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px;
  padding-top: 25px;
  position: fixed;
  width: 60px;
  max-height: 100%;
  overflow: auto;
  transition: width 0.3s;
  z-index: 3;
}

.slide-menu__icon {
  color: white;
}

.slide-menu__item {
  align-items: center;
  background-color: black;
  border-radius: 100%;
  display: flex;
  height: 30px;
  justify-content: center;
  margin-bottom: 1em;
  width: 30px;
}

.slide-menu__item--active {
  background-color: #8bc34a;
}

.slide-menu__nav {
  padding-top: 5px;
}

.slide-menu__nav ul {
  list-style: none;
  padding: 0;
}

.slide-menu__list {
  margin: 0;
  padding: 0;
}

.slide-menu.expanded {
  width: 250px;
}

.title-section-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.title-section-container:hover {
  background-color: #2e404a;
}

.number-video {
  border-radius: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.number-video:hover {
  background-color: rgb(36, 34, 34);
}

.video-title-container {
  border-bottom: 1px solid rgb(199, 193, 193);
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background-color 0.3s ease;
}

.video-title-container:hover {
  background-color: #2e404a;
  cursor: pointer;
}

.title-section-container-icon {
  padding-top: 15px;
  padding-bottom: 15px;
}

.icon-mat {
  margin-bottom: 5px;
  cursor: pointer;
}

.container-slide-menu {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.container-slide-menu:hover {
  cursor: pointer;
  background-color: #2e404a;
  border-radius: 4px;
}

.slide-menu__button {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.slide-menu__button:hover {
  background-color: #2e404a;
  cursor: pointer;
}

/* Estilos para container-view-course */
.container-view-course {
  display: flex;
  margin-top: 2em;
  width: 100%;
  background-color: #141b1f;
  cursor: pointer;
}

/* Estilos para video-container */
.video-container {
  margin-left: 60px;
  padding-left: 20px;
  padding-right: 20px;
  width: 70%;
}

/* Estilos para header-video */
.header-description {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
}

.instructor-name-container {
  display: flex;
  align-items: center;
}

.instructor-name-container img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-right: 10px;
}

.header-description h2,
.header-description h3 {
  margin: 0;
}

.header-video {
  align-items: center;
  display: flex;
  padding-top: 15px;
}

.header-video__logo {
  border-radius: 100%;
  height: 55px;
  margin-right: 10px;
  width: 55px;
}

/* Estilos para instructor-name-container */
.instructor-name-container {
  align-items: center;
  display: flex;
}

.instructor-name-container__img {
  border-radius: 100%;
  height: 25px;
  margin-right: 10px;
  width: 25px;
}

.instructor-name-container__name {
  margin: 0;
}

/* Estilos para video-description */
.video-description {
  margin-top: 20px;
  padding: 25px;
  max-height: 400px;
  overflow: auto;
}

/* Estilos para comentarios */
.comments {
  padding: 20px;
  width: 30%;
  max-height: 100vh;
  overflow: auto;
}

.comments .text-area-container {
  margin-bottom: 20px;
}

.comments .text-area-container textarea {
  background-color: #03091e;
  border-radius: 5px;
  color: lightgray;
  height: 100px;
  width: 100%;
}

.comments .card-comment {
  background-color: #212e36;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
}

.btn-save {
  margin-top: 10px;
  float: right;
}


.comments-container{
  padding-top: 50px;
}
/* Media query para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .container-view-course {
    flex-direction: column;
  }

  .video-container {
    width: 95%;
  }

  .comments {
    width: 95%;
    padding-left: 10%;
  }
}

/* Media query para pantallas pequeñas (celulares) */
@media (max-width: 768px) {
  .container-view-course {
    flex-direction: column;
  }

  .video-container {
    width: 90%;
  }

  .comments {
    width: 93%;
    padding-left: 25%;
  }
}
