.container {
  display: grid;
  grid-column: 12;
  grid-row: 12;
  height: 100vh;
  margin-left: 4.5%;
  gap: 0.5em;
}

.video-list {
  height: 100vh;
  width: 4%;
  background-color: red;
  position: fixed;
  overflow: auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 8em;
}

.list-videos-container ul li {
  background-color: black;
  color: white;
  border-radius: 100%;
  list-style: none;
  padding: 2px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.video-list:hover {
  justify-content: left;
  width: 20%;
}

.video-contianer {
  grid-column: 1/7;
  grid-row: 1/10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: chartreuse;
}


.resources-video {
  background-color: orange;
  grid-row: 10/12;
  grid-column: 1/7;
  overflow: auto;
}

.community {
  background-color: green;
  grid-row: 1/12;
  grid-column: 7/11;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #222;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #333;
}

::-webkit-scrollbar-track {
  background-color: #111;
}
