<div class="slide-menu" [ngClass]="{'expanded': isMenuOpen}" (click)="closeSidenav()">
  <nav class="slide-menu__nav">
    <ul class="slide-menu__list">
      <mat-icon (click)="toggleSidenav($event)" class="slide-menu__button" *ngIf="!isMenuOpen">
        arrow_forward_ios
      </mat-icon>
      <div (click)="toggleSidenav($event)" *ngIf="isMenuOpen" class="container-slide-menu">
        <mat-icon class="slide-menu__button">
          arrow_back_ios
        </mat-icon>
        <label class="container-slide-menu-label">
          Cerrar listado
        </label>
      </div>
      <div *ngFor="let section of sectionsCourse">
        <li class="title-section-container-icon" *ngIf="!isMenuOpen">
          <div class="icon-mat">
            <mat-icon class="slide-menu__icon">emoji_flags</mat-icon>
          </div>
        </li>
        <li class="title-section-container" *ngIf="isMenuOpen">
          <div class="icon-mat">
            <mat-icon class="slide-menu__icon">emoji_flags</mat-icon>
          </div>
          <h4 class="title-section" style="text-align: center; padding: 5px;">
            {{section.title}}
          </h4>
        </li>
        <li *ngIf="section.videos && section.videos.length > 0">
          <div *ngFor="let video of section.videos">
            <ng-container *ngIf="isMenuOpen">
              <div class="video-title-container" (click)="findVideoBySlug(video.url)">
                {{video.number}} - {{video.title}}
              </div>
            </ng-container>
            <ng-container *ngIf="!isMenuOpen">
              <div class="number-video slide-menu__icon" (click)="findVideoBySlug(video.url)">
                {{video.number}}
              </div>
            </ng-container>
          </div>
        </li>
      </div>
      
    </ul>
  </nav>
</div>

<div class="container-view-course" (click)="closeSidenav()">
  <div class="video-container">
    <app-video-iframe [link]="link"></app-video-iframe>
    <div class="header-video">
      <img
        src="https://static.platzi.com/cdn-cgi/image/width=768,quality=85,format=auto/media/achievements/badge-planeacion-financiera-01bfc531-c444-4af7-8cc7-a5935e91e8d2.png"
        class="header-video__logo" alt="">
      <div class="header-description">
        <h3>{{course.title}}</h3>
        <div class="instructor-name-container">
          <img
            src="https://static.platzi.com/media/avatars/avatars/isisconvelo_e0c5509b-c68e-42ae-8b28-7c8744b4ba62.PNG"
            alt="">
          <h3>Isis García</h3>
        </div>
      </div>
    </div>
    <div class="video-description">
      <h1>{{courseVideo.title}}</h1>
      <p>
        {{courseVideo.description}}
      </p>
    </div>
  </div>

  <div class="comments">
    <div class="text-area-container">
      <div>
        <editor #myEditor apiKey="0wi32zftfgdcov537usjemm66309jf39xbh8bi4cq5fggh0h" [init]="{
         height: 200,
         menubar: false,
         plugins: [

         ],
         toolbar:
           'undo redo | formatselect | bold italic backcolor | \
           alignleft aligncenter alignright alignjustify | \
           bullist numlist outdent indent | removeformat | help'
       }"></editor>
      </div>

      <button mat-raised-button color="primary" class="btn-save" (click)="guardarContenido()">Publicar</button>
    </div>
    <div class="comments-container">
      <div class="card-comment">
        <p>Complementario al canvas de la propuesta de valor propuesto en el curso. Les recomiendo mucho ver el Scope
          Canvas. Platzi tiene un curso llamado Lean UX</p>
      </div>
      <div class="card-comment">
        <p>Complementario al canvas de la propuesta de valor propuesto en el curso. Les recomiendo mucho ver el Scope
          Canvas. Platzi tiene un curso llamado Lean UX</p>
      </div>
      <div class="card-comment">
        <p>Complementario al canvas de la propuesta de valor propuesto en el curso. Les recomiendo mucho ver el Scope
          Canvas. Platzi tiene un curso llamado Lean UX</p>
      </div>
      <div class="card-comment">
        <p>Complementario al canvas de la propuesta de valor propuesto en el curso. Les recomiendo mucho ver el Scope
          Canvas. Platzi tiene un curso llamado Lean UX</p>
      </div>
      <div class="card-comment">
        <p>Complementario al canvas de la propuesta de valor propuesto en el curso. Les recomiendo mucho ver el Scope
          Canvas. Platzi tiene un curso llamado Lean UX</p>
      </div>
      <div class="card-comment">
        <p>Complementario al canvas de la propuesta de valor propuesto en el curso. Les recomiendo mucho ver el Scope
          Canvas. Platzi tiene un curso llamado Lean UX</p>
      </div>
      <div class="card-comment">
        <p>Complementario al canvas de la propuesta de valor propuesto en el curso. Les recomiendo mucho ver el Scope
          Canvas. Platzi tiene un curso llamado Lean UX</p>
      </div>
      <div class="card-comment">
        <p>Complementario al canvas de la propuesta de valor propuesto en el curso. Les recomiendo mucho ver el Scope
          Canvas. Platzi tiene un curso llamado Lean UX</p>
      </div>
      <div class="card-comment">
        <p>Complementario al canvas de la propuesta de valor propuesto en el curso. Les recomiendo mucho ver el Scope
          Canvas. Platzi tiene un curso llamado Lean UX</p>
      </div>
      <div class="card-comment">
        <p>Complementario al canvas de la propuesta de valor propuesto en el curso. Les recomiendo mucho ver el Scope
          Canvas. Platzi tiene un curso llamado Lean UX</p>
      </div>
    </div>
  </div>
</div>
