<mat-list-item (click)="addVideo()">
  <div class="btn-add-video">
    <mat-icon>add</mat-icon>
    <mat-card-subtitle>
      Agregar un nuevo video
    </mat-card-subtitle>
  </div>
</mat-list-item>

<div *ngFor="let video of videosSection">
  <mat-list-item class="mat-list-item-container" (click)="onVideoClick(video.idVideo!)">
    <div matListItemTitle>{{ video.number }} - {{ video.title | titlecase }}</div>
    <button mat-icon-button (click)="removeVideo( video.idVideo!, video.number, video.title)" matListItemMeta>
      <mat-icon>do_not_disturb_on</mat-icon>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
</div>
