.mat-list-item-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-add-video{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-title-list{
  cursor: pointer;
}

.video-title-list:hover{
  background-color: #fcf5f5;
}