.main-menu {
    background-color: var(--dark-black-menu);
    height: 4em;
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: var(--white-font-menu);
    display: flex;
    align-items: center;
}

.main-menu__list {
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-areas: "logo menu menu menu";
    list-style: none;
}

.main-menu__item__logo {
    grid-area: logo;
    justify-self: center;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-family: Tahoma, Geneva, Verdana, sans-serif, 'Segoe UI';
}

.main-menu__options {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    height: 3em;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1em;
}

.main-menu____options__item {
    margin-right: 1.5em;
}

.main-menu____options__item__create__account {
    display: flex;
    align-items: center;
    padding: .1em .5em .1em .5em;
    background-color: white;
    color: black;
    border-radius: 8px;
    height: 30px;
    margin-right: 1.5em;
}

.main-menu__options__mobile {
    display: none;
}

@media (min-width: 501px) and (max-width: 924px) {

    .main-menu__list {
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
    }

    .main-menu__options__mobile {
        display: flex;
        justify-content: right;
    }

    .main-menu__options {
        display: none;
    }

    .material-symbols-outlined {
        padding-top: 5px;
    }
}

@media (max-width: 500px) {

    .main-menu__list {
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
    }

    .main-menu__options {
        display: none;
    }

    .main-menu__options__mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
        justify-content: space-around;
    }

    .main-menu____options__item__create__account {
        margin-right: 0;

    }

    .main-menu____options__item {
        margin-right: 0;
    }

    .material-symbols-outlined {
        padding-top: 5px;
    }
}