<nav class="main-menu">
    <ul class="main-menu__list">

        <li class="main-menu__item__logo">
            <span style="color:#98CA3F;">In</span>novance
        </li>

        <div class="main-menu__options">

            <li class="main-menu____options__item">
                Chat
            </li>

            <li class="main-menu____options__item">
                Cursos
            </li>

            <li class="main-menu____options__item">
                Lanzamientos
            </li>

            <li class="main-menu____options__item">
                Planes
            </li>

            <li class="main-menu____options__item">
                Contáctenos
            </li>

            <li class="main-menu____options__item">
                Empresas
            </li>

            <li class="main-menu____options__item__create__account">
                Crear cuenta
            </li>

            <li class="main-menu____options__item">
                Iniciar sesión
            </li>
        </div>

        <div class="main-menu__options__mobile">

            <li class="main-menu____options__item__create__account">
                Crear cuenta
            </li>

            <li class="main-menu____options__item">
                <span class="material-symbols-outlined">
                    logout
                </span>
            </li>

        </div>
    </ul>
</nav>