.container {
  display: flex;

}

.slide-menu-video {
  width: 50px;
  height: 92vh;
  background-color: #212e36;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.slide-menu-video::-webkit-scrollbar {
  width: 5px;
}

.slide-menu-video::-webkit-scrollbar-track {
  background: black;
}

.slide-menu-video::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}


.slide-menu-video ul li {
  list-style: none;
  background-color: black;
  border-radius: 50%;
  color: white;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}


.video-container {
  margin-left: 5px;
  width: 800px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
